@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }

  body {
    @apply bg-black text-white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.nav-link {
  @apply relative  text-white cursor-pointer  w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#FFCC00] after:w-full  after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden
}